{$ (use ../codes/globs) $}
{$ (use ../codes/templates) $}

<!DOCTYPE html>
<html>
	{{ {:template (require "-head.html")} }}
<body>
	{{ {:template (require "-header.html")} }}
	<div class="container">  
    <!-- {{ {:template (require "-ads-horizontal.html")} }} -->
    <div class="row">    
      <!-- {{ {:template (require "-ads-vertical.html")} }} -->

      <div class="col my-3 mx-lg-3 mx-sm-2" dir="rtl">
      	<!--  -->
      	<div class="row py-2 px-2 border border-success border-bottom-0 rounded-top">
      		<div class="col align-middle bg-light px-3 py-2 rounded">
      			<h3 class="">{{ (dyn :title) }}</h3>
      		</div>
      	</div>
        <!--  -->        
        <div class="row border border-success border-bottom-0 border-top-0 py-2"> 
          <div class="" ass="col"> 
            <img 
              class="img-fluid rounded shadow w-100 " 
              style="object-fit: cover; height: 400px; width: 100%;"
              src={{ (dyn :cover) }}>
          </div>
        </div>
      	<!--  -->
    
        <!--  -->
        <div class="row border border-success border-bottom-0 border-top-0 row-cols-1 bg-danger text-light py-2"> 
          <div class="col">
            <h6><small>نوشته شده توسط: {{ (dyn :author) }}</small></h6>
          </div>
          <div class="col">
            <h6><small>در تاریخ: {{ (dyn :date) }}</small></h6>
          </div>
          <div class="col">
            <h6>
              <small>
              منبع: <a class="text-decoration-none text-warning" href="{{ (dyn :source-url) }}">{{ (dyn :source) }}</a>
              </small>
            </h6>
          </div>
          <div class="col">
            {% (each tag (dyn :tags) %}
            <a href="tag-{{tag}}.html" class="text-decoration-none badge bg-warning text-black-50">{{tag}}</a>
            {% ) %}
          </div>
        </div>
        <!--  -->
      	<div class="row py-2 px-2 border border-success border-top-0 rounded-bottom shadow">
      		<div class="col">
      			{{ content }}
      		</div>
      	</div>      	        
        <!--  -->
			</div>
    </div>
  </div>
	{{ {:template (require "-footer.html")} }}
</body>
</html>

