{$ (use ../codes/globs) $}
{$ (use ../codes/templates) $}

<!DOCTYPE html>
<html>
  {{ {:template (require "-head.html")} }}
<body>
  {{ {:template (require "-header.html")} }}
  <div class="container">      
    <div class="row">     
      <div class="col my-3 mx-lg-3 mx-sm-2" dir="rtl">
        <!--  -->
        <div class="row py-2 px-2 border border-success border-bottom-0 rounded-top">
          <div class="col align-middle bg-light px-3 py-2 rounded">
            <h3 class="">{{ (dyn :title) }}</h3>
          </div>
        </div>
        <!--  -->
        <div class="row py-4 px-2 border border-success rounded-bottom">
          <div class="col">
          {% (each page (dyn :pages) %}
            <div class="row">
              <div class="col">
                <a href="{{page}}.html" class="text-decoration-none badge bg-secondary text-white">{{page}}</a>
              </div>
            </div>
          {% ) %}
          </div>
        </div>        
        <!--  -->
      </div>
    </div>
  </div>
  {{ {:template (require "-footer.html")} }}
</body>
</html>

